<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sjxy.mrbbs.dao.DepartmentMapper">

<insert id="save" parameterType="cn.sjxy.mrbbs.domain.Department">
 insert into department 
 values(#{deptId},#{name})
</insert>

<select id="findById" parameterType="String" resultType="cn.sjxy.mrbbs.domain.Department">
	select * from department where deptId=#{deptId}
</select>

<resultMap type="cn.sjxy.mrbbs.domain.Department" id="map">
	<id column="deptId" property="deptId"/>
	<result column="name" property="name"/>
	<collection property="emps" ofType="cn.sjxy.mrbbs.domain.Employee">
		<id column="empId" property="empId"/>
		<result column="name" property="name"/>
		<result column="hireDate" property="hireDate"/>
		<result column="salary" property="salary"/>
		
	</collection>
	
	
</resultMap>

<select id="findIncludeEmpsById" parameterType="String" resultType="cn.sjxy.mrbbs.domain.Department">
	select *
	from department d left join employee e
	on d.deptId=e.dept_id
	where d,deptId=#{deptId}
</select>

<select id="findAll" resultType="cn.sjxy.mrbbs.domain.Department">
	select * from department 
</select>

<update id="update" parameterType="cn.sjxy.mrbbs.domain.Department">
	update department set name=#{name} 
	where deptId=#{deptId}
</update>

<delete id="deleteDept" parameterType="String">
	delete from department 
	where deptId=#{deptId}
</delete>
</mapper>